<h1>Games</h1>
<a href="/games/new">Add New Game</a>

<hr>
<% @games.each do |game| %>
<p>Name: <%= game.name() %></p>
<p>Genre: <%= game.genre %></p>
<p>Publisher: <%= game.publisher.name %></p>
<p>Stock: <%= game.stock %></p>

<form method="post" action="/games/<%= game.id%>/delete">
  <input type='submit' value="Delete Game"/>
</form>

<form method="get" action="/games/<%= game.id %>/update">
  <input type='submit' value='Update Game'/>
</form>
<hr>
<% end %>
