<div class="header">
  <h1 class="header_text">Games</h1>
  <a class = "btn_add" href="/games/new">Add Game</a>
</div>
<br>
<br>
<div class="container">
  <% @games.each do |game| %>
  <% if game.logo == "" %>
  <img class = "image_resize" src="/images/no_image.png" alt="No Image">
  <% else %>
  <img class = "image_resize" src="<%=game.logo%>" alt="Game Logo">
  <% end %>
  <div class="container_inside">

    <p>Name: <%= game.name() %></p>
    <p>Genre: <%= game.genre %></p>
    <% if game.publisher_id != 0%>
    <p>Publisher: <%= game.publisher.name %></p>
    <% else %>
    <p>Publisher: No Longer In System</p>
    <% end %>
    <% if game.stock == 0%>
    <p id ="warning">Stock: <%= game.stock%> </p>
    <% elsif game.stock <= 5 %>
    <p id ="lowstock">Stock: <%= game.stock%> </p>
    <% else %>
    <p>Stock: <%= game.stock %></p>
    <% end %>

    <div class="game_button_inline">

      <form method="get" action="/games/<%= game.id %>/update">
        <input type='submit' value='Update Game'/>
      </form>

      <form method="post" action="/games/<%= game.id%>/delete">
        <input type='submit' value="Delete Game"/>
      </form>


    </div>
  </div>

  <% end %>
</div>
