<div class="header">
<h1 class="header_text">Sales</h1>

<form id = "form_inventory" method="get" action="/sales/filter/publisher">
  <select class ="filter_select" id="id" name="id" required>
    <% @publishers.each do |publisher| %>
    <option value = <%= publisher.id %> > <%= publisher.name %> </option>
    <% end %>
  <input class = "btn_add_form" type='submit' value="Filter by Publisher"/>
</form>

<form id = "form_inventory" method="get" action="/sales/filter/genre">
  <select class ="filter_select" id="genre" name="genre" required>
    <option value = "Action">Action</option>
    <option value = "Roleplaying">Roleplaying</option>
    <option value = "Adventure">Adventure</option>
    <option value = "Strategy">Strategy</option>
    <option value = "Puzzle">Puzzle</option>

  <input class = "btn_add_form" type='submit' value="Filter by Genre"/>
</form>
<a class = "btn_add" href="/sales/new">Add Sale</a>
</div>
<br>
<br>
<table class ="inventory_table">
  <tr>
    <th>Game</th>
    <th>Genre</th>
    <th>Publisher</th>
    <th>Transaction Date</th>
    <th>Price</th>
    <th>Action</th>
  </tr>
  <% for sale in @sales %>
  <% game = sale.game %>
  <tr>
    <td><%= game.name if sale.game_id == game.id%></td>
    <td><%= game.genre %></td>
    <td><%= game.publisher.name %></td>
    <td><%= sale.transaction_date%> </td>
    <td><%= game.sell_price%> </td>
    <td id = "form_inline"><form method="post" action="/sales/<%= sale.id%>/delete">
      <input type='submit' value="Delete"/>
    </form>
    <form method="get" action="/sales/<%= sale.id %>/update">
      <input type='submit' value='Update'/>
    </form></td>
  </tr>
  <% end %>

</table>
