<h1>Publishers</h1>
<a class = "btn_add" href="/publishers/new">Add New Publisher</a>
<br>
<br>
<div class="container">
<% @publishers.each do |publisher| %>
<% if publisher.logo == "" %>
<img class = "image_resize" src="/images/no_image.png" alt="No Image">
<% else %>
<img class = "image_resize" src="<%=publisher.logo%>" alt="Publisher Logo">
<% end %>
<div class="container_inside">
<p>Name: <%= publisher.name() %></p>
<p>Trading: <%= publisher.trading %></p>

<br>
<form method="post" action="/publishers/<%= publisher.id%>/delete">
  <input type='submit' value="Delete Publisher"/>
</form>

<form method="get" action="/publishers/<%= publisher.id %>/update">
  <input type='submit' value='Update Publisher'/>
</form>
</div>

<% end %>
</div>
